<div class="carousel-home-1">
    <carousel [isAnimated]="true">
        <slide>
          <img src="assets/images/home_dsa3.jpg" alt="first slide" style=" width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/home_dsa2.svg" alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img src="assets/images/home_dsa3.jpg" alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
</div>
<div class="clear"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Quality Learning</h1>
      <p class="lead">We have years of instructional and curriculum development experience and are obssessed with the quality of our learning materials. Avoid the frustrating grind of random, disconnected problems. We progressively introduce new concepts and provide plenty of opportunity to hammer them down before switching focus.</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Problem Solving</h1>
      <p class="lead">Learn to approach problems using animated overviews and master the code implementation details for every problem using walkthroughs in JavaScript, Python, and C++.</p>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Data structures & algorithms, made accessible</h1>
      <p class="lead">Structy is a platform designed to maximize your understanding of data structure & algorithms. With over 17,000 users and growing, our online curriculum forms a deliberate coursework designed to maximize retention, while minimizing study time. We enable both aspiring and current software engineers to maximize their understanding of algorithms, preparing them for their upcoming technical interviews, and helping them land their dream job.</p>
    </div>
  </div>


