
<div style="height: 100vh; background: rgb(10, 190, 207);">
	<as-split direction="horizontal">
		<as-split-area [size]="40">
			<as-split direction="vertical">
				<as-split-area>
					<p>Question Description goes here</p>
				</as-split-area>
				<as-split-area>
					<p>To do...</p>
				</as-split-area>
				<!-- <as-split-area>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tiam, quis nostrud
						exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</as-split-area> -->
			</as-split>
		</as-split-area>
		<as-split-area [size]="60">
			<as-split direction="vertical">
				<as-split-area [size]="25">
					<p>Write your solution here..............</p>
				</as-split-area>
				<as-split-area [size]="75">
					<p>Output window goes here................</p>
				</as-split-area>
			</as-split>
		</as-split-area>
	</as-split>
</div>

